<head>
    {% include "head.html" %}
</head>
<body>
    <div class="navbar">
        <a href="/oauth2/sign_out" class="navbar-el">Logout</a>
    </div>
    <div class="wellcome">Wellcome {{ user }}</div>
    <div style="width: 30%" class="wellcome">Your rights are: {{ "+".join(groups) }}</div>
    <div class="main-container">
        {% for category, tiles in categories.items() %}
            <div class="seperator">
            <h3 style="margin-left: 15px;">{{ category.title() }}</h3>
            <hr>
            </div>
            {% for k,v in tiles.items() %}
            {% if not v.get("groups") or group in v["groups"] %}
            <a href="{{ v['href'] }}">
                <div class="tile"
                    {% if v.get('background') %}
                    style="background: {{ v['background'] }};"
                    {% else %}
                    style="background: linear-gradient(90deg, {{ v['gradient-left'] }} 20%, {{ v['gradient-right'] }} 65%);"
                    {% endif %}
                    >

                    <img height=65 src="{{ v['icon'] }}"
                             style="max-width: 465px" class="tile-image">
                    </img>
                    <b class="tile-name">{{ v["name"] }}</b>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</body>
