<head>
    {% include "head.html" %}
</head>
<body>
    <div class="main-container">
        {% for category, tiles in categories.items() %}
            <div class="seperator">
            <h3 style="margin-left: 15px;">{{ category.title() }}</h3>
            <hr>
            </div>
            {% for k,v in tiles.items() %}
            <a href="{{ v['href'] }}">
                <div class="tile"
                    {% if v.get('background') %}
                    style="background: {{ v['background'] }};"
                    {% else %}
                    style="background: linear-gradient(90deg, {{ v['gradient-left'] }} 20%, {{ v['gradient-right'] }} 65%);"
                    {% endif %}
                    >

                    <img height=65 src="{{ v['icon'] }}"
                             style="max-width: 465px" class="tile-image">
                    </img>
                    <b class="tile-name">{{ v["name"] }}</b>
                </div>
            </a>
            {% endfor %}
        {% endfor %}
    </div>
</body>
